:root {
    --color-accent: grey;
    --color-text: #173878;
    color: whitesmoke
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 400 14px 'Inter', sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    display: flex;
    background-color: rgb(21, 21, 21);
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

input {
    font-family: 'Inter', sans-serif;
}

a {
    color: var(--color-accent);
    font-weight: 500;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(63, 63, 63);
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(52, 52, 52);
    border: 6px solid var(--color-accent);
}

.app-header {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.app-footer {
    text-align: center;
    padding: 8px 0;
}

.go-button {
    justify-content: center;
    background-color: grey;
    padding: 8px 0;
}

.go-button:hover {
    background-color: rgb(138, 138, 138);
}